*
# cloud-rest-client
!webscale-rest-client/gulpfile.js
!webscale-rest-client/package.json
!webscale-rest-client/tsconfig.json
!webscale-rest-client/dist/package.json

# cloud-rest-client-node
!webscale-rest-client-node/gulpfile.js
!webscale-rest-client-node/package.json
!webscale-rest-client-node/tsconfig.json
!webscale-rest-client-node/dist/package.json

# cloud-rest-client-angular2
!webscale-rest-client-angular2/gulpfile.js
!webscale-rest-client-angular2/package.json
!webscale-rest-client-angular2/tsconfig.json
!webscale-rest-client-angular2/dist/package.json

# cloud-logging
!webscale-logging/gulpfile.js
!webscale-logging/package.json
!webscale-logging/tsconfig.json
!webscale-logging/dist/package.json

# cloud-boot
!webscale-boot/gulpfile.js
!webscale-boot/package.json
!webscale-boot/tsconfig.json
!webscale-boot/dist/package.json

# cloud-events
!webscale-events/gulpfile.js
!webscale-events/package.json
!webscale-events/tsconfig.json
!webscale-events/dist/package.json

# cloud-auditlog
!webscale-auditlog/gulpfile.js
!webscale-auditlog/package.json
!webscale-auditlog/tsconfig.json
!webscale-auditlog/dist/package.json

# Example order-service
!examples/order-service/gulpfile.js
!examples/order-service/package.json
!examples/order-service/tsconfig.json

# Example product-service
!examples/product-service/gulpfile.js
!examples/product-service/package.json
!examples/product-service/tsconfig.json

# Example order-service
!examples/order-client/.angular-cli.json
!examples/order-client/package.json
!examples/order-client/tsconfig.json
